[package]
name = "cos-num"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = ["std"]
std = []

[dependencies]
ufmt = "0.2"

[lints]
workspace = true